@font-face {
  font-family: "retro";
  src: url("./retro_computer.ttf");
}

@font-face {
  font-family: "roboto_bold";
  src: url("./roboto_mono_bold.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("./roboto_mono.ttf");
}

@font-face {
  font-family: "JetbrainsMonoLight";
  src: url("./JetBrainsMono-Light.woff2");
}